    body {
        width: 100%;
        margin: 0;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        padding: 0;
    }
    
    .container-top {
        width: 100%;
        position: relative;
        height: auto;
    }
    
    .container-top .background-img {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    
    .container-top .background-img img {
        position: relative;
        width: 100%;
        opacity: 0.6;
    }
    
    .container-top #logo {
        position: absolute;
        margin: auto;
        z-index: 2;
        left: 45%;
        width: 100%;
    }
    
    .container-top #logo img {
        width: 10%;
    }
    
    .container-top nav {
        display: none;
    }
    
    #welcome-message {
        display: flex;
        justify-content: center;
        font-size: 28px;
        text-align: center;
    }
    
    .container-mid {
        display: flex;
        flex-direction: column;
    }

    .container-mid #code{
        margin: 5%;
    }
    

.container-mid #options{
    width: 30%;
    margin: auto;
    background-color: #49aaff;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    align-self: center;
    
}

.container-mid #options a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: bold;
}
    .container-burger {
        display: none;
    }
    
    .container-bottom {
        position: relative;
        margin: auto;
        width: 80%;
        text-align: center;
        height: 20%;
        justify-content: space-between
    }
    
    .container-bottom ul li {
        list-style-type: none;
        margin: 10%;
        padding: 0px;
        display: inline;
    }
    
    .container-bottom ul li a {
        font-size: 12px;
        color: darkgray;
    }
    
    .container-bottom p {
        font-size: 12px;
        color: darkgray
    }
    
    @media only screen and (max-width:1030px) {
        .container-top nav a {
            margin: 4%;
        }
    }
    
    @media only screen and (max-width:900px) {
        .container-top nav a {
            margin: 3%;
        }
    }
    
    @media only screen and (max-width:768px) {
        .container-top nav {
            padding: 15px 0px;
            align-content: flex-start;
        }
        .container-top nav a {
            margin: 1.5%;
        }
        footer {
            width: 90%;
            height: 10%;
        }
    }
    
    @media only screen and (max-width:600px) {
        .container-top {
            height: 20%;
        }
        .container-top .background-img img {
            height: 100%;
        }
        .container-top #logo img {
            width: 100px;
            height: 100px;
        }
        .container-top #logo {
            display: flex;
            left: 0%;
            justify-content: center;
        }
        #welcome-message {
            font-size: 18px;
            margin: 0px;
            background-color: #33cc33;
            color: white;
        }
    }
    
    @media only screen and (max-width:440px) {
        #welcome-message {
            font-size: 14px;
        }
    }
