body{
    width:100%;
    margin:0;
    height:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding:0;
}

.container-top{
    text-align: center; 
}

.container-mid{
    width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
}

.container-mid form{
    display: flex;
    flex-direction:column;
}

.container-mid form input{
    width: 50%;
    margin: 10px 25%;
    padding: 10px;
}

.container-mid a{
    
    font-size: 14px;
    color: darkgray;
}

.container-bottom {
    position: relative;
    margin: auto;
    width: 80%;
    text-align: center;
    height: 20%;
    justify-content: space-between
}

.container-bottom ul li {
    list-style-type: none;
    margin: 10%;
    padding: 0px;
    display: inline;
}

.container-bottom ul li a {
    font-size: 12px;
    color: darkgray;
}

.container-bottom   p {
    font-size: 12px;
    color: darkgray
}

@media only screen and (max-width: 768px){
    .container-mid{
        width: 85%;
    }
    
}

@media only screen and (max-width: 600px){
    .container-mid{
        width: 100%;
    }
    
    .container-mid form{
        width: 100%;    
    }
    
    .container-mid form input{
        width: 100%;
    }
    
}