body{
    width:100%;
    margin:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding:0;
}

.container-top{
    width: 100%;
    position: relative;
    height: auto;
}

.container-top .background-img{
    position: relative;
    width:100%;
    z-index: 1;
}

.container-top .background-img img{
    position: relative;
    width: 100%;
    opacity:0.6;
}

.container-top #logo{
    position: absolute;
    margin: auto;
    z-index: 2;
    left:45%;
    width: 100%;
}

.container-top #logo img{
    width:10%;
}

.container-top nav{
    display: flex;
    width:100%;
    padding: 15px;
    margin: auto;
    align-content: space-around;
    justify-content: center;
    background-color: #33cc33;
}

.container-top nav a{
    background-color: #33cc33;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 0 4.5%;
}

#welcome-message{
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-align: center;
}

.container-mid{
    display: flex;
}

.container-burger{
    display: none;
}

.container-mid .menu-container {
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-mid .menu-container #quick-menu{
    position: relative;
    width: 100%;
}

.container-mid .menu-container #savings-message{
    width: 80%;
    margin: auto;
    text-align: left;
}

.container-mid #savings-message-mobile{
    display: none;
}

.container-mid #quick-menu div {
    list-style-type: none;
    background-color: #49aaff;
    margin: 10%;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 80%;
    text-decoration: none;
}

.container-mid #quick-menu #renegotiate{
    background-color: #33cc33;
}

.container-mid #quick-menu div a {
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
}

.container-mid #recent-activity{
    width: 65%;
}

.container-mid #recent-activity table{
    width:100%;
    padding: 2%;
}

.container-mid #recent-activity table th{
    padding: 0px 5px 20px 5px;
    
}

.container-mid #recent-activity table td{
    border-bottom: 1px solid;
    border-bottom-color: darkgray;
    padding-top: 50px;
    color: #1a1a1a;
}




.container-bottom {
    position: relative;
    margin: auto;
    width: 80%;
    text-align: center;
    height: 20%;
    justify-content: space-between
}

.container-bottom ul li {
    list-style-type: none;
    margin: 10%;
    padding: 0px;
    display: inline;
}

.container-bottom ul li a {
    font-size: 12px;
    color: darkgray;
}

.container-bottom   p {
    font-size: 12px;
    color: darkgray
}

@media only screen and (max-width:1030px){
    .container-top nav a{
        margin: 4%;
    }
}@media only screen and (max-width:900px){
    .container-top nav a{
        margin: 3%;
    }
}
@media only screen and (max-width:768px){
    .container-top nav{
        padding: 15px 0px;
        align-content:flex-start;
    }
    .container-top nav a{
        margin: 1.5%;
    }
    
    footer{
        width:90%;
        height:10%;
    }
}
@media only screen and (max-width:600px){
    
    .container-top {
        height: 20%;
    }
    
    .container-top .background-img img{
        height: 100%;
    }

    .container-top #logo img{
        width:100px;
        height:100px;
    }
    .container-top #logo{
        display: flex;
        left:0%;
        justify-content: center;
    }
    
    .container-top nav{
        display: none;
    }
    
    .container-burger{
        display: block;
        position: absolute; /* exercise said relative but lets try like this for now*/
        z-index: 1;
           
        -webkit-user-select: none;
        user-select:none;
    }
    
    .container-burger input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 33px;
        left: 2px;
        cursor: pointer;
        opacity: 0;/* hide this */
        z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    
    .container-burger span{
        display: block;
        width: 33px;
        height: 4px;
        top: 40px;
        margin-bottom: 5px;
        margin-left: 10px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: 
            transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), 
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }
    
    .container-burger span:first-child{
        transform-origin: 0% 0%;
    }
    
    .container-burger span: nth-last-child(2){
        transform-origin: 0% 100%;
    }
    
    /*Transform all lines of icons into an X*/

    /*First Line*/
    .container-burger input:checked ~ span  {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;
    }
    
    
    /* Hide the middle line of the icon*/
    .container-burger input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    
    /*transform last line*/
    .container-burger input:checked ~ span:nth-last-child(2){
        opacity: 1;
        transform: rotate(-45deg) translate(0px, -5px);
    }
    
    /*Make list absolute positioned */
    
    .burger-menu{
        position: absolute;
        width: 300px;
        margin: -28px 0 0 -50px; /*to correct*/
        padding: 50px;
        padding-top: 100px;
        
        background:#1a1a1a;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari*/
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubi-bezier(0.77,0.2,0.05,1.0);
    }
    
    .burger-menu a{
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }
    
    .burger-menu li{
        padding: 10px 0;
        padding-left: 50px;
        font-size: 22px;
    }
    
    .burger-menu a:hover{
        color: #33cc33;
    }
    
    /* fade from the left*/
    
    .container-burger input:checked~ ul{
        transform: scale(1.0,1.0);
        opacity: 1;
    }

    #welcome-message{
        font-size: 18px;
        margin:0px;
        background-color: #33cc33;
        color: white;
    }

    
    .container-mid{
        flex-direction: column;
    }
    
    .container-mid .menu-container{
        width:100%;
        margin: 0;
    }
    
    .container-mid .menu-container #quick-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }
    
    .container-mid #quick-menu div {
        margin: 1% 10%;
        padding: 10px;
        width: 80%;
    }

    .container-mid .menu-container #savings-message{
        display: none;   
    }
    
    .container-mid #savings-message-mobile{
        display: block;
        margin: auto;
        width:90%;
        justify-content: center;
        text-align: center;
    }
    
    .container-mid #recent-activity{
        width: 100%;
    }
}

@media only screen and (max-width:440px){
    #welcome-message{
        font-size: 14px;
    }
}
